<div class="container col-md-8">
  <% if @posts.empty? %>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        <!-- if there are no blogs available at the DB, No items to display -->
        <p>No items to display</p>
      </li>
    </ul>
  <% else %>
    <!-- loop through all the data retrieve and display -->
    <% @posts.each do |item| %>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            <%= link_to post_path(item) do %>
              <p><strong><%= item.title %></strong></p>
            <% end %>
            <!-- date display entry updated date -->
            <p><%= item.updated_at %></p>

        </li>

        <li class="list-group-item">
          <!-- this will show only 200 character of the body to continue reading
          use needs to click on blog to view full content and other functions -->
          <p><%= truncate(item.body, :ommision => "... Read More",
                                     :length => 200) %></p>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>

<div class="container col-md-4">
  <%= render "side_bar" %>
</div>
