<div class="container col-md-8">
  <% if @posts.empty? %>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        <p>No items to display</p>
      </li>
    </ul>
  <% else %>
    <% @posts.each do |item| %>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          <div class="container col-md-8">
            <%= link_to post_path(item) do %>
              <p><strong><%= item.title %></strong></p>
            <% end %>
          </div>

          <div class="container col-md-4" id="action-icons">
            <!-- small icons that will handle actions: edit, delete -->
            <%= link_to edit_post_path(item) do %>
              <i class="glyphicon glyphicon-edit"
                aria-hidden="true" style="color: blue"></i>
            <% end %>
            <%= link_to post_path(item), method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="glyphicon glyphicon-trash"
                aria-hidden="true"></i>
            <% end %>
          </div>

          <div>
            <!-- display entry updated date -->
            <p><%= item.updated_at %></p>
          </div>

        </li>

        <li class="list-group-item">
          <p><%= item.body %></p>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>

<div class="container col-md-4">
  <%= render "side_bar" %>
</div>
