<% if @posts.empty? %>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">
      <p>No items to display</p>
    </li>
  </ul>

<% else %>
  <% @posts.each do |item| %>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
          <%= link_to post_path(item) do %>
            <strong>
              [<%= item.category.title.capitalize %>]
              <%= item.title %>
            </strong>
          <% end %>

          <p>
            Posted By <%= item.user.first_name %>
            <%= item.updated_at.strftime("on %b %d, %Y") %>
          </p>
      </li>

      <li class="list-group-item">
        <p>
          <%= raw item.body.truncate(300) %>
        </p>
      </li>
    </ul>
  <% end %>
<% end %>
