<div class="container col-md-8">
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">
      <div>
        <div class="container col-md-10">
          <p><strong><%= @post.title %></strong></p>
        </div>

        <div class="container col-md-2" id="action-icons">
          <!-- small icons that will handle actions: edit, delete -->
          <%= link_to edit_post_path do %>
            <i class="glyphicon glyphicon-edit"
              aria-hidden="true" style="color: blue"></i>
          <% end %>
          <%= link_to post_path, method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="glyphicon glyphicon-trash"
              aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
      <div>
        <p>
          <%= @post.updated_at %>          
        </p>
      </div>
    </li>

    <li class="list-group-item">
      <%= @post.body %>
    </li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item list-group-item-info">
      <p><strong>Comments</strong></p>
    </li>
    <li class="list-group-item">
    </li>
</div>

<div class="container col-md-4">
  <%= render "side_bar" %>
</div>
