<div class="panel panel-primary">
  <div class="panel-heading">
    Search Blog
  </div>

  <div class="panel-body">
    <%= form_tag posts_path, method: :get, class: "navbar-form navbar-left" do %>
      <%= text_field_tag(:query, @query, class: "form-control", placeholder: "Search") %>
      <%= submit_tag("Submit", class: "btn btn-primary", id: "search") %>
    <% end %>
  </div>
</div>

<div class="panel panel-primary">
  <!-- This is the heading of the right side bar -->
  <div class="panel-heading">
    Categories
  </div>

  <!-- This will iterate all the comments for this specific post and display it -->
  <ul class="list-group">
    <% if get_categories.present? %>
      <% get_categories.each do |category| %>
        <li class="list-group-item">
          <h5>
            <%= link_to category_path(category) do %>
              <%= category.title.capitalize %>
            <% end %>
            <!-- This will display a badge on how many comments are posted -->
            <span class="badge pull-right">
              <%= get_category_post_count(category) %>
            </span>
          </h5>
        </li>
      <% end %> <!-- end of loop -->

    <% else %>
        <p>No category to display.</p>
    <% end %>
  </ul>
</div>

<!-- User favourites display in the side bar -->
<% if user_signed_in? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      User Favourites
    </div>

    <ul class="list-group">
      <% if @favourites.present? %>
        <% @favourites.each do |fave| %>
          <li class="list-group-item">
            <p>
              <%= link_to post_path(fave.post) do %>
                <%= fave.post.title %>
              <% end %>
            </p>
          </li>

        <% end %> <!-- end of loop -->

      <% else %>
          <p>No user favourites to display.</p>
      <% end %>
    </ul>
  </div>
<% end %>
