<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- meta for bootstrap mobile first design -->
    <meta name="viewport" content="width=device-width, initial-scale=1,
       maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <!-- <div class="container-fluid"> -->
        <ul class="nav navbar-nav pull-left">
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "New Blog", new_post_path %>
          </li>
          <li>
            <%= link_to "About", about_path %>
          </li>
        </ul>

        <ul class="nav navbar-nav pull-right">
          <!-- handles user Sign-In, Log-out and Sign-Up -->
          <% if user_signed_in? %>
            <li>
              <!-- if the user is already signed in display user first name at nav -->
              <%= link_to "Hello #{current_user.first_name}!", root_path %>
            </li>

            <li>
              <!-- also, if user is signed in display log-out button   -->
              <%= link_to "Log-out", sessions_path, method: :delete %>
            </li>
          <% else %>
            <!-- user is not logged-in need to log-in or sign-up -->
            <li>
              <%= link_to "Sign-in", new_session_path %>
            </li>
            <li>
              <%= link_to "Sign-Up", new_user_path %>
            </li>
          <% end %> <!-- end of if-else statement -->
        </ul>
    </nav>

    <!-- This will handle all flash notice instantiated by the controller process -->
    <div>
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-warning" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <!-- This section will display the side bar -->
      <div class="container col-md-4 pull-right">
        <%= render "/layouts/side_bar" %>
      </div>

      <!-- This section will display all blog post -->
      <div class="container col-md-8 pull-left">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
