<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- meta for bootstrap mobile first design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <i class="glyphicon glyphicon-piggy-bank"></i>
        </div>

        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <!-- comment out this link since root_path is now posts_path -->
          <!-- <li>
            <%#= link_to "Blog", posts_path %>
          </li> -->
          <li>
            <%= link_to "New Blog", new_post_path %>
          </li>
          <li>
            <%= link_to "About", about_path %>
          </li>

          <!-- handles user Sign-In, Log-out and Sign-Up -->
          <% if user_signed_in? %>
            <li>
              <!-- if the user is already signed in display user first name at nav -->
              Hello <%= current_user.first_name %>!
            </li>

            <li>
              <!-- also, if user is signed in display log-out button   -->
              <%= link_to "Log-out", sessions_path, method: :delete %>
            </li>
          <% else %>
            <!-- user is not logged-in need to log-in or sign-up -->
            <li>
              <%= link_to "Log-in", new_session_path %>
            </li>
            <li>
              <%= link_to "Sign-Up", new_user_path %>
            </li>
          <% end %> <!-- end of if-else statement -->
        </ul>
      </div>
    </nav>

    <div>
      <%= yield %>
    </div>

  </body>
</html>
